# Excluded folders:

target/
bin/
.settings/
.svn/
projects/*/res/results/
projects/*/memapToolFiles/results/
/projects/*/memapToolFiles/config/


# Excluded files:

*.project
*.classpath
*.class
*.log
*.lp
