body {
	font-family: sans-serif;
}

div {
    border: 0px solid black;	
}

.button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

button[disabled=disabled], button:disabled {
   	opacity: 0.5;
	cursor: not-allowed;
}


.input {
  width: 13%;
  font-size: 16px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
.label {
	font-size: 16px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.labelCon {
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #ff0000;
    display: inline-block;
    opacity: 0.5;
}
.labelCon:hover {
    background-color: red;
    opacity: 1;
}



.add{
	  background-color: #0080ff; /* Blue */
}
.connect{
	  background-color: #4CAF50; /* Green */
}
.disconnect{
	  background-color: #ff0000; /* Red */
}



div#console {
    clear: both;
    width: 60em;
    height: 30em;
    overflow: auto;
    font-size: 16px
    background-color: #ffffff;
    padding: 4px;
    border: 1px solid black;
    text-align: left;
}

div#console .info {
	color: black;
}

div#console .client {
	color: green;
}

div#console .server {
    color: blue;
}
